.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.y2{bottom:1.287997px;}
.y71{bottom:3.479128px;}
.y62{bottom:3.479130px;}
.y55{bottom:3.479133px;}
.y77{bottom:3.479139px;}
.y68{bottom:3.479142px;}
.y5b{bottom:3.479144px;}
.y4e{bottom:3.479146px;}
.y6e{bottom:3.479153px;}
.y5f{bottom:3.479155px;}
.y52{bottom:3.479158px;}
.y74{bottom:3.479164px;}
.y65{bottom:3.479167px;}
.y58{bottom:3.479169px;}
.y4b{bottom:3.479171px;}
.y6b{bottom:3.479178px;}
.y22{bottom:3.479187px;}
.y1e{bottom:3.479191px;}
.y15{bottom:3.479193px;}
.ye{bottom:3.479196px;}
.yb{bottom:3.479198px;}
.y4{bottom:3.479200px;}
.y7{bottom:3.479202px;}
.y19{bottom:3.479204px;}
.y37{bottom:3.479207px;}
.y2a{bottom:3.479209px;}
.y45{bottom:3.479210px;}
.y3a{bottom:3.479212px;}
.y2d{bottom:3.479215px;}
.y3d{bottom:3.479218px;}
.y30{bottom:3.479220px;}
.y25{bottom:3.479223px;}
.y40{bottom:3.479224px;}
.y33{bottom:3.479226px;}
.y72{bottom:3.710925px;}
.y63{bottom:3.710927px;}
.y56{bottom:3.710930px;}
.y78{bottom:3.710936px;}
.y69{bottom:3.710939px;}
.y5c{bottom:3.710941px;}
.y4f{bottom:3.710943px;}
.y6f{bottom:3.710950px;}
.y60{bottom:3.710952px;}
.y53{bottom:3.710955px;}
.y75{bottom:3.710961px;}
.y66{bottom:3.710964px;}
.y59{bottom:3.710966px;}
.y4c{bottom:3.710968px;}
.y6c{bottom:3.710975px;}
.y1f{bottom:3.710988px;}
.y16{bottom:3.710990px;}
.yf{bottom:3.710993px;}
.yc{bottom:3.710995px;}
.y5{bottom:3.710997px;}
.y8{bottom:3.710999px;}
.y1a{bottom:3.711001px;}
.y38{bottom:3.711004px;}
.y2b{bottom:3.711006px;}
.y46{bottom:3.711007px;}
.y3b{bottom:3.711009px;}
.y2e{bottom:3.711012px;}
.y23{bottom:3.711014px;}
.y3e{bottom:3.711015px;}
.y31{bottom:3.711017px;}
.y26{bottom:3.711020px;}
.y41{bottom:3.711021px;}
.y34{bottom:3.711023px;}
.y76{bottom:54.249977px;}
.y73{bottom:68.787977px;}
.y70{bottom:83.325977px;}
.y6d{bottom:97.863977px;}
.y6a{bottom:112.401977px;}
.y67{bottom:126.939977px;}
.y64{bottom:141.477977px;}
.y61{bottom:156.015977px;}
.y5e{bottom:170.553977px;}
.y5d{bottom:185.091877px;}
.y5a{bottom:199.629977px;}
.y57{bottom:214.167977px;}
.y54{bottom:228.705977px;}
.y51{bottom:243.243977px;}
.y50{bottom:257.781877px;}
.y4d{bottom:272.319977px;}
.y4a{bottom:286.857977px;}
.y49{bottom:301.395977px;}
.y48{bottom:315.933977px;}
.y47{bottom:330.471977px;}
.y44{bottom:345.009977px;}
.y43{bottom:359.547977px;}
.y42{bottom:374.085977px;}
.y3f{bottom:388.623977px;}
.y3c{bottom:403.161977px;}
.y39{bottom:417.699977px;}
.y36{bottom:432.237977px;}
.y35{bottom:446.775977px;}
.y32{bottom:461.313977px;}
.y2f{bottom:475.851977px;}
.y2c{bottom:490.389977px;}
.y29{bottom:504.927977px;}
.y28{bottom:519.465977px;}
.y27{bottom:534.003977px;}
.y24{bottom:548.541977px;}
.y21{bottom:563.079977px;}
.y20{bottom:577.617977px;}
.y1d{bottom:592.155977px;}
.y1c{bottom:606.693977px;}
.y1b{bottom:621.231977px;}
.y18{bottom:635.769977px;}
.y17{bottom:650.307977px;}
.y14{bottom:664.845977px;}
.y13{bottom:679.383977px;}
.y12{bottom:693.921977px;}
.y11{bottom:708.459977px;}
.y10{bottom:722.997977px;}
.yd{bottom:737.535977px;}
.ya{bottom:752.073977px;}
.y9{bottom:766.611977px;}
.y6{bottom:781.149977px;}
.y3{bottom:795.687977px;}
.y0{bottom:809.500000px;}
.y1{bottom:810.225977px;}
.h2{height:14.038000px;}
.h6{height:14.038100px;}
.h1{height:15.500000px;}
.h4{height:29.432812px;}
.h3{height:37.130625px;}
.h5{height:37.583437px;}
.h0{height:878.514000px;}
.w2{width:51.101700px;}
.w3{width:51.101800px;}
.w1{width:826.500000px;}
.w0{width:926.427700px;}
.x13{left:1.825055px;}
.x1{left:3.470869px;}
.x14{left:4.587940px;}
.x8{left:14.510877px;}
.x15{left:24.182926px;}
.x18{left:29.778352px;}
.x16{left:32.565287px;}
.x17{left:38.160844px;}
.x12{left:43.756271px;}
.x0{left:50.000000px;}
.x2{left:102.251702px;}
.x3{left:153.853502px;}
.x4{left:205.455202px;}
.x5{left:257.057002px;}
.x6{left:308.658702px;}
.x7{left:360.260402px;}
.x9{left:411.862202px;}
.xa{left:463.463902px;}
.xb{left:515.065602px;}
.xc{left:566.667302px;}
.xd{left:618.269102px;}
.xe{left:669.870802px;}
.xf{left:721.472602px;}
.x10{left:773.074302px;}
.x11{left:824.676102px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:58.880000pt;}
.y2{bottom:1.717329pt;}
.y71{bottom:4.638837pt;}
.y62{bottom:4.638840pt;}
.y55{bottom:4.638844pt;}
.y77{bottom:4.638852pt;}
.y68{bottom:4.638856pt;}
.y5b{bottom:4.638859pt;}
.y4e{bottom:4.638861pt;}
.y6e{bottom:4.638871pt;}
.y5f{bottom:4.638873pt;}
.y52{bottom:4.638877pt;}
.y74{bottom:4.638885pt;}
.y65{bottom:4.638889pt;}
.y58{bottom:4.638892pt;}
.y4b{bottom:4.638895pt;}
.y6b{bottom:4.638904pt;}
.y22{bottom:4.638916pt;}
.y1e{bottom:4.638921pt;}
.y15{bottom:4.638924pt;}
.ye{bottom:4.638928pt;}
.yb{bottom:4.638931pt;}
.y4{bottom:4.638933pt;}
.y7{bottom:4.638936pt;}
.y19{bottom:4.638939pt;}
.y37{bottom:4.638943pt;}
.y2a{bottom:4.638945pt;}
.y45{bottom:4.638947pt;}
.y3a{bottom:4.638949pt;}
.y2d{bottom:4.638953pt;}
.y3d{bottom:4.638957pt;}
.y30{bottom:4.638960pt;}
.y25{bottom:4.638964pt;}
.y40{bottom:4.638965pt;}
.y33{bottom:4.638968pt;}
.y72{bottom:4.947900pt;}
.y63{bottom:4.947903pt;}
.y56{bottom:4.947907pt;}
.y78{bottom:4.947915pt;}
.y69{bottom:4.947919pt;}
.y5c{bottom:4.947921pt;}
.y4f{bottom:4.947924pt;}
.y6f{bottom:4.947933pt;}
.y60{bottom:4.947936pt;}
.y53{bottom:4.947940pt;}
.y75{bottom:4.947948pt;}
.y66{bottom:4.947952pt;}
.y59{bottom:4.947955pt;}
.y4c{bottom:4.947957pt;}
.y6c{bottom:4.947967pt;}
.y1f{bottom:4.947984pt;}
.y16{bottom:4.947987pt;}
.yf{bottom:4.947991pt;}
.yc{bottom:4.947993pt;}
.y5{bottom:4.947996pt;}
.y8{bottom:4.947999pt;}
.y1a{bottom:4.948001pt;}
.y38{bottom:4.948005pt;}
.y2b{bottom:4.948008pt;}
.y46{bottom:4.948009pt;}
.y3b{bottom:4.948012pt;}
.y2e{bottom:4.948016pt;}
.y23{bottom:4.948019pt;}
.y3e{bottom:4.948020pt;}
.y31{bottom:4.948023pt;}
.y26{bottom:4.948027pt;}
.y41{bottom:4.948028pt;}
.y34{bottom:4.948031pt;}
.y76{bottom:72.333303pt;}
.y73{bottom:91.717303pt;}
.y70{bottom:111.101303pt;}
.y6d{bottom:130.485303pt;}
.y6a{bottom:149.869303pt;}
.y67{bottom:169.253303pt;}
.y64{bottom:188.637303pt;}
.y61{bottom:208.021303pt;}
.y5e{bottom:227.405303pt;}
.y5d{bottom:246.789169pt;}
.y5a{bottom:266.173303pt;}
.y57{bottom:285.557303pt;}
.y54{bottom:304.941303pt;}
.y51{bottom:324.325303pt;}
.y50{bottom:343.709169pt;}
.y4d{bottom:363.093303pt;}
.y4a{bottom:382.477303pt;}
.y49{bottom:401.861303pt;}
.y48{bottom:421.245303pt;}
.y47{bottom:440.629303pt;}
.y44{bottom:460.013303pt;}
.y43{bottom:479.397303pt;}
.y42{bottom:498.781303pt;}
.y3f{bottom:518.165303pt;}
.y3c{bottom:537.549303pt;}
.y39{bottom:556.933303pt;}
.y36{bottom:576.317303pt;}
.y35{bottom:595.701303pt;}
.y32{bottom:615.085303pt;}
.y2f{bottom:634.469303pt;}
.y2c{bottom:653.853303pt;}
.y29{bottom:673.237303pt;}
.y28{bottom:692.621303pt;}
.y27{bottom:712.005303pt;}
.y24{bottom:731.389303pt;}
.y21{bottom:750.773303pt;}
.y20{bottom:770.157303pt;}
.y1d{bottom:789.541303pt;}
.y1c{bottom:808.925303pt;}
.y1b{bottom:828.309303pt;}
.y18{bottom:847.693303pt;}
.y17{bottom:867.077303pt;}
.y14{bottom:886.461303pt;}
.y13{bottom:905.845303pt;}
.y12{bottom:925.229303pt;}
.y11{bottom:944.613303pt;}
.y10{bottom:963.997303pt;}
.yd{bottom:983.381303pt;}
.ya{bottom:1002.765303pt;}
.y9{bottom:1022.149303pt;}
.y6{bottom:1041.533303pt;}
.y3{bottom:1060.917303pt;}
.y0{bottom:1079.333333pt;}
.y1{bottom:1080.301303pt;}
.h2{height:18.717333pt;}
.h6{height:18.717467pt;}
.h1{height:20.666667pt;}
.h4{height:39.243750pt;}
.h3{height:49.507500pt;}
.h5{height:50.111250pt;}
.h0{height:1171.352000pt;}
.w2{width:68.135600pt;}
.w3{width:68.135733pt;}
.w1{width:1102.000000pt;}
.w0{width:1235.236933pt;}
.x13{left:2.433407pt;}
.x1{left:4.627825pt;}
.x14{left:6.117253pt;}
.x8{left:19.347836pt;}
.x15{left:32.243901pt;}
.x18{left:39.704469pt;}
.x16{left:43.420383pt;}
.x17{left:50.881125pt;}
.x12{left:58.341695pt;}
.x0{left:66.666667pt;}
.x2{left:136.335603pt;}
.x3{left:205.138003pt;}
.x4{left:273.940269pt;}
.x5{left:342.742669pt;}
.x6{left:411.544936pt;}
.x7{left:480.347203pt;}
.x9{left:549.149603pt;}
.xa{left:617.951869pt;}
.xb{left:686.754136pt;}
.xc{left:755.556403pt;}
.xd{left:824.358803pt;}
.xe{left:893.161069pt;}
.xf{left:961.963469pt;}
.x10{left:1030.765736pt;}
.x11{left:1099.568136pt;}
}
